$cover-height: 100vh;

.cover {
  margin-top: -$navbar-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__main {
    background-color: $primary-invert;
    display: flex;
    align-items: center;
  }

  &.align-top {
    background-position: top;
  }

  &.is-small {
    min-height: 320px;
  }

  .title {
    color: $primary;
  }
  .subtitle {
    color: $primary;
  }
  .cover--image {
    width: 100%;
    min-height: 50vh;
    @include from($desktop) {
      height: $cover-height;
      min-height: 700px;
      clip-path: polygon(0% 0%, 15% 100%,100% 100%, 100% 0%);
    }
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 100%,100% 100%, 100% 15%)
  }

  .cover--content {
    display: flex;
    align-items: center;
    @include until($desktop) {
      padding: 6.5rem 2rem 2rem 2rem;
    }
  }
}
