$cover-height: 90vh;

.cover {
  margin-top: -$navbar-height;
  background-color: $primary-invert;
  min-height: $cover-height;
  display: flex;
  align-items: center;

  .title {
    color: $primary;
  }
  .subtitle {
    color: $primary;
  }
}
