$cover-height: 100vh;

.cover {
  margin-top: -$navbar-height;
  @include from($desktop) {

  }
  background-color: $primary-invert;
  display: flex;
  align-items: center;

  .title {
    color: $primary;
  }
  .subtitle {
    color: $primary;
  }
  .cover--image {
    width: 100%;
    min-height: 50vh;
    @include from($desktop) {
      min-height: $cover-height;
      clip-path: polygon(0% 0%, 15% 100%,100% 100%, 100% 0%);
    }
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 100%,100% 100%, 100% 15%)
  }
  .cover--content {
    display: flex;
    align-items: center;
    @include until($desktop) {
      padding: 6.5rem 2rem 2rem 2rem;
    }
  }
}
