.cta {
  font-weight: 900;
  font-size: 1rem;
  padding: .5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  .text {
    margin-right: 1rem;
  }
  .icon {
    transition: transform 1s ease;
    transform: translateX(0);
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &:hover .icon {
    transform: translateX(1rem);
    transition: transform .32s ease;
  }
}

.cta-large {
  font-size: 1.5rem;
  padding: .75rem 0;
  .text {
    margin-right: 1.5rem;
  }
  .icon svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.cta__regular {
  color: $primary;
  &:hover {
    color: $primary;
  }
}
.cta__invert {
  color: $primary-invert;
  &:hover {
    color: $primary-invert;
  }
}
.cta-dark {
  color: $primary-invert;
  &:hover {
    color: $primary-invert;
  }
}
.cta-light {
  color: $primary-invert;
  &:hover {
    color: $primary-invert;
  }
}
