.partnerCard {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  min-height: 10rem;

  .image {
    background-color: white;
    border-radius: .5rem;
    padding: 1.5rem;

    margin: auto;
    width: 8rem;
    height: auto;

    box-shadow: 0 0 20px #00000026;
  }

  .text {
    font-size: .875rem;
    font-weight: normal;
    color: $grey-dark;
    text-align: center;
    line-height: 1;
    transform: scale(1);
    transition: transform .47s ease-in .19;

    margin-top: .75rem;
  }

  &:hover .image {
    transform: scale(1.15);
    transform-origin: 50% 100%;
    transition: transform .19s ease-out;
  }

  &:first-child {
    margin-right: 3rem;
  }
  &:last-child {
    margin-left: 3rem;
  }

}

.partnersCarousel {
  overflow-y: scroll;
  padding: 1rem 0;
  &::-webkit-scrollbar { width: 0 !important }

  .wrapper {
    display: flex;
  }
}
